/* 
    Document   : init
    Created on : 07-10-2014, 04:29:46 PM
    Author     : 17558919-8
    Description:
        Purpose of the stylesheet follows.
*/

@import url('../fonts/OpenSans-Regular.ttf');

